TABLE.ListBackground
{
    margin: 30px 120px;
   BORDER-BOTTOM: #e4e4e4 1px solid;
   BORDER-COLLAPSE: collapse;
   BORDER-LEFT: #e4e4e4 1px solid;
   BORDER-RIGHT: #e4e4e4 1px solid;
   BORDER-TOP: #e4e4e4 1px solid;
   FONT-FAMILY: Arial, Helvetica, sans-serif;
   FONT-SIZE: 11px
   Color: #459db1;
   BACKGROUND: #f0f0f0;
   Text-Align: Left;
}

TABLE.ListBackground TD
{
   BORDER-BOTTOM: #e4e4e4 1px solid;
   BORDER-COLLAPSE: collapse;
   BORDER-LEFT: #e4e4e4 1px solid;
   BORDER-RIGHT: #e4e4e4 1px solid;
   BORDER-TOP: #e4e4e4 1px solid;
   FONT-FAMILY: Arial;
   FONT-SIZE: 12px;
   Color: #303F30;
}

TABLE.ListBackground TH
{
   BACKGROUND: #d0d0d0;
   BORDER-BOTTOM: #e4e4e4 1px solid;
   BORDER-LEFT: #e4e4e4 1px solid;
   BORDER-RIGHT: #e4e4e4 1px solid;
   BORDER-TOP: #e4e4e4 1px solid;
   FONT-FAMILY: Arial;
   FONT-SIZE: 11px;
   FONT-WEIGHT: normal;
   Color: #303F30;
}

TABLE.LevelExtremeListInvisible
{
   BORDER-COLLAPSE: collapse;
   BORDER: 0px solid black;
}

TABLE.LevelExtremeListInvisible TD
{
   BORDER-COLLAPSE: collapse;
   BORDER: 0px solid black;
   FONT-SIZE: 11px;
}

TABLE.LevelExtremeListInvisible TH
{
   BORDER-COLLAPSE: collapse;
   BORDER: 0px solid black;
   FONT-SIZE: 11px;
}

.LevelExtremeListHeader
{
   Padding-Top: 2px;
}

.LevelExtremeListHeaderColumn
{
   Padding-Left: 1px;
   Padding-Right: 1px;
   Padding-Top: 1px;
   Padding-Bottom: 0px;
   Text-Align: Center;
   White-Space: NoWrap;
}

.LevelExtremeListDropDownList

{

   Margin-Top: 12px;

   Font-Size: 11px;

   Height: 23px;

}

 

.LevelExtremeListDropDownListWithTextbox

{

   Font-Size: 11px;

   Height: 20px;

   Margin-Left: 0px;

   Margin-Top: 0px;

   Margin-Right: 0px;

   Margin-Bottom: 0px;

}

 

.LevelExtremeListTextboxWithDropDownList

{

   Font-Size: 11px;

   Margin-Left: -1px;

   Margin-Top: 0px;

   Margin-Right: 0px;

   Margin-Bottom: 0px;

}

 

.LevelExtremeListTextbox

{

   Font-Size: 11px;

   Margin-Left: 0px;

   Margin-Top: 0px;

   Margin-Right: 0px;

   Margin-Bottom: 0px;

}


TABLE.LevelExtremeListInvisible TD.LevelExtremeListHeader
{
   Font-Size: 16px;
}

TR.MouseOver
{
   Background-Color: #b9b6b6;
}

TR.MouseOverOut
{
   Background-Color: #ffffff;
}

.LevelExtremeShowHeaderSearchTextbox
{
   Font-Size: 11px;
   Margin: 0px;
}

A.LevelExtremeList:link
{
   FONT-FAMILY: Arial;
   FONT-SIZE: 12px;
   Color: #003399;
}

A.LevelExtremeList:visited
{
   FONT-FAMILY: Arial;
   FONT-SIZE: 12px;
   Color: #303F30;
}

A.LevelExtremeList:hover
{
   FONT-FAMILY: Arial;
   FONT-SIZE: 12px;
   Color: #303F30;
}

