#return-to-top
{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    z-index:3;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i
{
    color: #fff;
    margin: 0;
    position: relative; 
    left: 16px; /*left: 16px;     top: 3px;*/
    top: 0px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover
{
    background: rgba(0, 0, 0, 0.9);
}



/* Extra Things */
body
{
    background: #eee;
    font-family: 'Open Sans' , sans-serif;
}
h3
{
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    margin-top: 50px;
}
h3 i
{
    color: #444;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px)
{
#return-to-top:hover i {
    top: 13px;
}
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-device-width: 320px) and (orientation: landscape)
{
    #return-to-top:hover i {
    top: 13px;
}
    }
    
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px)
{
    #return-to-top:hover i {
    top: 13px;
}
    }